<section class="container text-center my-5">
  <h1>magic-record</h1>
  <% if user_signed_in? %>
    <%= link_to 'さっそく投稿してみる', new_record_path, class: "nav-link" %>
  <% else %>
    <%= link_to "ログイン", new_user_session_path %>
    <%= simple_format link_to "新規登録", new_user_registration_path %>
  <% end %>
</section>
<div class="top-image"></div>