<p>
  <strong class="is-size-1" style="font-family: cursive;">magic-record</strong></strong>
</p>
<br>
<%= link_to "ログイン", new_user_session_path %>
<br>
<%= link_to "新規登録", new_user_registration_path %>
<br>
<div class="top-image"></div>